/mylogs.log
*.log
ignore/
/Java_Programming/Abdul_Bari_JAVA/Circle1/nbproject/private/
/Java_Programming/Abdul_Bari_JAVA/Circle1/build/
/Java_Programming/NetBeansProjects/youtube1/nbproject/private/
/Java_Programming/NetBeansProjects/youtube1/build/
/Java_Programming/NetBeansProjects/youtube1/dist/
