/* * {
    margin: 0;
    padding: 0;
} */

body {
    color: white;
    background-image: url('gym1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-origin: content-box; */
    background-attachment: scroll;
    /* background-position: center top; */
}

header {
    /* background-color:rgb(233, 79, 225); */
    position: relative;
    height: 83px;
    /* border: 2px solid red; */
    border-radius: 81px;
}

.left {
    display: inline-block;
    position: absolute;
}

.left img {
    position: relative;
    width: 95px;
    margin: 16px 121px;
    filter: invert(100%);
}

.mid {
    /* display: block; */
    position: relative;
    margin: 0 265px;
    width: 40%;
    top: 25px;
}

.navbar {
    display: flex;
    /* position: relative;
    top: 36px; */
}

.navbar li {
    /* border: 2px solid red; */
    position: relative;
    margin: 10px 27px;
    padding: 0px 8px;
    list-style: none;
}

.navbar li a {
    color: rgb(228, 231, 49);
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    font-family: cursive;
    list-style: none;
}

.navbar li a:hover{
    /* background-color: rgb(233, 79, 225); */
    /* border: 1px solid blue; */
    /* color: green; */
    /* font-size: 10px; */
    color: #8fdbb1;
    /* border: 2px solid red;  */
    /* border-radius: 10px; */
    text-decoration: underline;
    text-decoration-color: rgb(208, 39, 214);
}

.right {
    position: absolute;
    right: 200px;
    top: 35px;
    display: inline-block;
    /* border: 2px solid black; */
}

.btn {
    color: black;
    background-color: rgb(248, 239, 239);
    border: 2px solid black;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    padding: 12px 32px;
}

.btn:hover {
    color: rgb(235, 227, 227);
    background-color: rgb(12, 12, 11);
    border: 2px solid white;
}

section {
    display: inline;
    position: absolute;
    /* border: 2px solid green; */
    /* left: 84px; */
    top: 200px;
    width: 33%;
    right: 50px;
}

form {
    position: relative;
    left: 10px;
}

.form-group {
    margin: 20px auto;
}

.form-group input {
    display: block;
    /* position: relative; */
    text-align: center;
    width: 333px;
    /* left: 50px; */
    padding: 10px 129px;
    border: 2px solid rgb(241, 238, 40);
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Mouse Memoirs', sans-serif;
    /* font-weight: bold; */
}

section h1 {
    text-align: center;
}

.btn_submit {
    /* position: relative; */
    /* left: 10px; */
    padding: 10px 270px;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 25px;
}